## Aplicación de NumPy

-----------------------

#### Ejemplo 1

Los datos contenidos en el fichero [datos.txt](./datos.txt) describe las poblaciones de tres tipos de serpientes en el sur de Africa durante 20 años.

In [1]:
import numpy as np
data = np.loadtxt('./datos.txt')    # carga de los datos
data

array([[  2000.,  30000.,   3000.,  38300.],
       [  2001.,  37200.,   6100.,  48200.],
       [  2002.,  60200.,   9800.,  31600.],
       [  2003.,  77300.,  36200.,  38200.],
       [  2004.,  36300.,  69300.,  30600.],
       [  2005.,  20600.,  31700.,  49800.],
       [  2006.,  18100.,  19000.,  38600.],
       [  2007.,  21300.,  13000.,  32300.],
       [  2008.,  22000.,   8300.,  43600.],
       [  2009.,  26300.,   9100.,  32100.],
       [  2010.,  27100.,   7300.,  36000.],
       [  2011.,  30300.,   8000.,  36800.],
       [  2012.,  67000.,  12300.,  33800.],
       [  2013.,  76600.,  19600.,  30900.],
       [  2014.,  62300.,  36700.,  49300.],
       [  2015.,  19600.,  61100.,  39000.],
       [  2016.,  11200.,  29700.,  36700.],
       [  2017.,   7600.,  16800.,  41800.],
       [  2018.,  13600.,   9700.,  33300.],
       [  2019.,  16200.,  10100.,  31300.],
       [  2020.,  23700.,   8600.,  47300.]])

* Cálculo de la media de población de cada tipo a lo largo del tiempo.

In [2]:
poblaciones = data[:, 1:]     # nos quedamos con las tres últimas columnas
poblaciones

array([[ 30000.,   3000.,  38300.],
       [ 37200.,   6100.,  48200.],
       [ 60200.,   9800.,  31600.],
       [ 77300.,  36200.,  38200.],
       [ 36300.,  69300.,  30600.],
       [ 20600.,  31700.,  49800.],
       [ 18100.,  19000.,  38600.],
       [ 21300.,  13000.,  32300.],
       [ 22000.,   8300.,  43600.],
       [ 26300.,   9100.,  32100.],
       [ 27100.,   7300.,  36000.],
       [ 30300.,   8000.,  36800.],
       [ 67000.,  12300.,  33800.],
       [ 76600.,  19600.,  30900.],
       [ 62300.,  36700.,  49300.],
       [ 19600.,  61100.,  39000.],
       [ 11200.,  29700.,  36700.],
       [  7600.,  16800.,  41800.],
       [ 13600.,   9700.,  33300.],
       [ 16200.,  10100.,  31300.],
       [ 23700.,   8600.,  47300.]])

In [3]:
poblaciones.mean(axis = 0)  # media

array([ 33547.61904762,  20257.14285714,  38071.42857143])

* Cálculo de la desviación estándar de la muestra

In [4]:
poblaciones.std(axis=0)

array([ 21173.55986102,  17581.93259404,   6209.91088481])

* ¿Qué especie ha tenido más población por año?

In [5]:
maximo= poblaciones.max(axis = 1)     # máximo de cada año
maximo

array([ 38300.,  48200.,  60200.,  77300.,  69300.,  49800.,  38600.,
        32300.,  43600.,  32100.,  36000.,  36800.,  67000.,  76600.,
        62300.,  61100.,  36700.,  41800.,  33300.,  31300.,  47300.])

In [6]:
especie = np.argmax(poblaciones, axis=1)   # posición que ocupa el máximo valor
especie
# columna 0 se refiere a la especie 1
# columns 1 se refiere a la especie 2
# columns 2 se refiere a la especie 3

array([2, 2, 0, 0, 1, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2, 2, 2, 2], dtype=int64)

Para mostrar los resultados por años de forma más clara:

In [7]:
# creamos un diccionario
nombres = {0 : 'Especie 1 ', 1: 'Especie 2', 2: 'Especie 3'}

for fila, dato  in enumerate(especie):
    print (int(data[fila, 0]),  '-' ,  nombres[dato],  '-',   maximo[fila])

2000 - Especie 3 - 38300.0
2001 - Especie 3 - 48200.0
2002 - Especie 1  - 60200.0
2003 - Especie 1  - 77300.0
2004 - Especie 2 - 69300.0
2005 - Especie 3 - 49800.0
2006 - Especie 3 - 38600.0
2007 - Especie 3 - 32300.0
2008 - Especie 3 - 43600.0
2009 - Especie 3 - 32100.0
2010 - Especie 3 - 36000.0
2011 - Especie 3 - 36800.0
2012 - Especie 1  - 67000.0
2013 - Especie 1  - 76600.0
2014 - Especie 1  - 62300.0
2015 - Especie 2 - 61100.0
2016 - Especie 3 - 36700.0
2017 - Especie 3 - 41800.0
2018 - Especie 3 - 33300.0
2019 - Especie 3 - 31300.0
2020 - Especie 3 - 47300.0

#### Ejemplo 2

Supongamos que conocemos las distancias en km. entre 7 ciudades europeas, y queremos construir la matriz de distancias.

In [8]:
distancias = np.array([0, 198, 303, 736, 871, 1175, 1475])
distancias

array([   0,  198,  303,  736,  871, 1175, 1475])

In [9]:
filas = distancias.reshape(7,1)
filas

array([[   0],
       [ 198],
       [ 303],
       [ 736],
       [ 871],
       [1175],
       [1475]])

In [10]:
# A cada fila le restamos cada una de las distancias.
# Nos quedamos con el valor absoluto.
abs( filas - distancias )

array([[   0,  198,  303,  736,  871, 1175, 1475],
       [ 198,    0,  105,  538,  673,  977, 1277],
       [ 303,  105,    0,  433,  568,  872, 1172],
       [ 736,  538,  433,    0,  135,  439,  739],
       [ 871,  673,  568,  135,    0,  304,  604],
       [1175,  977,  872,  439,  304,    0,  300],
       [1475, 1277, 1172,  739,  604,  300,    0]])

------------------------