<div id="navegacion" prev="../Tema_7/t7_pandas_034.html" next=""></div>

<div class="section-title">Sección 5.5</div>

In [1]:
from bs4 import BeautifulSoup

import json

def listings(file):
    print(file.split('/')[-1])
    print('------------')
    print(open( file, 'r').read())
    
def printingXML(file):
    bs = BeautifulSoup(open(file), 'xml')
    print(bs.prettify())
    
import codecs   

def listingjson(file):
    with open(file) as json_data:
        d = json.load(json_data, encoding="utf-8")
    print( json.dumps(d, indent=4)     )

# Bases de datos NoSQL. MongoDB

MongoDB es una base de datos NoSQL muy popular, la cual está orientada a documentos. Estos documentos son de tipo JSON, cuyo tratamiento ya hemos visto en secciones anteriores. La librería Pandas cuenta con las herramienta necesarias para, una vez  establecida la conexión con MongoDB, crear dataframes a partir de los datos contenidos en MongoDB, así como para almacenar los datos contenidos en los dataframes de Pandas en  MongoDB.

El primer paso es tener instalado MongoDB y arrancado el servidor de MongoDB . Para establecer la conexión con MongoDB es necesario usar la función `MongoClient` de la librería `pymongo` con los datos del host y el puerto como argumentos. El puerto que utiliza MongoDB en la instalación local por defecto es el 27017. Si MongoDB está instalada en otra máquina, es necesario indicar la IP y el puerto que corresponda.

In [87]:
import pymongo 
client = pymongo.MongoClient('localhost',27017)
type(client)

pymongo.mongo_client.MongoClient

En el servidor MongoDB pueden existir muchas bases de datos independientes y cada base de datos puede tener múltiples colecciones. Así mismo, cada colección puede contener múltiples documentos. Para conocer las bases de datos existentes en nuestro servidor podemos usar el método `database_names` de la clase `MongoClient`.

In [88]:
client.database_names()

['Canciones', 'LadySongs', 'admin', 'datos', 'local']

Para consultar los datos de una de las bases de datos existentes en el servidor usamos el operador punto y el nombre de la base de datos:

In [89]:
db  = client.Canciones
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Canciones')

El método `collection_names`  devuelve una lista con las colecciones de una base de datos.

In [90]:
db.collection_names()

['Giras', 'Artistas']

Por último, para acceder a una colección concreta de la base de datos usamos la misma notación, el operador punto, junto con el nombre de la colección.

In [91]:
col = db.Artistas
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Canciones'), 'Artistas')

In [92]:
type(col)

pymongo.collection.Collection

Podemos conocer la cantidad de documentos que hay en una colección con el método `count`:

In [93]:
col.count()

4

El método `find_one` permite acceder al primer elemento. Como podemos comprobar, cada documento en la colección es de tipo `dict` (ver figura XX).

In [94]:
doc = col.find_one()
type(doc)

dict

In [95]:
doc

{'Genre': 'Country pop',
 'Group': {'Name': 'Lady Antebellum'},
 'Songs': [{'Date': 2010, 'Length': '4:37', 'Title': 'Need you now'},
  {'Date': 2010, 'Length': '4:17', 'Title': 'I Run To You'},
  {'Date': 2007, 'Length': '3:43', 'Title': 'Never Alone'},
  {'Length': '3:44', 'Title': 'American honey'}],
 '_id': ObjectId('58d50d15bf9c245136c1cbac')}

In [96]:
listingjson('./datos/primero.json')

{
    "Songs": [
        {
            "Length": "4:37",
            "Title": "Need you now",
            "Date": 2010
        },
        {
            "Length": "4:17",
            "Title": "I Run To You",
            "Date": 2010
        },
        {
            "Length": "3:44",
            "Title": "American honey"
        }
    ],
    "Genre": "Country pop",
    "_id": "ObjectId(58d50d15bf9c245136c1cbac)",
    "Group": {
        "Name": "Lady Antebellum"
    }
}

Para recuperar todos los documentos de una colección (los distintos diccionarios) usamos el método `find`. Este método devuelve un cursor sobre el que podremos iterar. Por ejemplo, con la función `list` obtendremos una lista de diccionarios:

In [97]:
cursor = col.find() 
l = list(cursor)
l

[{'Genre': 'Country pop',
  'Group': {'Name': 'Lady Antebellum'},
  'Songs': [{'Date': 2010, 'Length': '4:37', 'Title': 'Need you now'},
   {'Date': 2010, 'Length': '4:17', 'Title': 'I Run To You'},
   {'Date': 2007, 'Length': '3:43', 'Title': 'Never Alone'},
   {'Length': '3:44', 'Title': 'American honey'}],
  '_id': ObjectId('58d50d15bf9c245136c1cbac')},
 {'Genre': 'Rock',
  'Group': {'Name': 'Amy Macdonald'},
  'Songs': [{'Date': 2007, 'Length': '3:05', 'Title': 'This Is the Life'},
   {'Date': 2007, 'Length': '3:28', 'Title': 'Poison Prince'},
   {'Date': 2007, 'Length': '3:50', 'Title': 'Run'}],
  '_id': ObjectId('58d50fe3bf9c245136c1cbfb')},
 {'Genre': 'Folk',
  'Group': {'Name': 'Tina Turner'},
  'Songs': [{'Date': 1988, 'Length': '4:56', 'Title': 'Girls'},
   {'Date': 1999, 'Length': '4:49', 'Title': 'Whatever You Need'},
   {'Date': 1999, 'Length': '3:57', 'Title': 'Rock Me Baby'}],
  '_id': ObjectId('58d50ff6bf9c245136c1cbff')},
 {'Genre': 'Metal',
  'Group': {'Name': 'Metallica'},
  'Songs': [{'Date': 1992, 'Length': '6:29', 'Title': 'Nothing Else Matters'},
   {'Length': '4:21', 'Title': 'Hero Of The Day'}],
  '_id': ObjectId('58d51054bf9c245136c1cc17')}]

La función `json_normalize` con la lista de documentos y la clave `Songs` devuelve el siguiente dataframe:

In [98]:
json_normalize(l, "Songs")

      Date Length                 Title
0   2010.0   4:37          Need you now
1   2010.0   4:17          I Run To You
2   2007.0   3:43           Never Alone
3      NaN   3:44        American honey
4   2007.0   3:05      This Is the Life
5   2007.0   3:28         Poison Prince
6   2007.0   3:50                   Run
7   1988.0   4:56                 Girls
8   1999.0   4:49     Whatever You Need
9   1999.0   3:57          Rock Me Baby
10  1992.0   6:29  Nothing Else Matters
11     NaN   4:21       Hero Of The Day

El método `find` puede usarse con un diccionario como argumento, el cuál actuará como filtro, recuperándose así solo aquellos documentos que cumplan el filtro.

In [99]:
cursor = col.find({"Group": {"Name": "Lady Antebellum"}}) 
l = list(cursor)
tabla_lady = json_normalize(l, "Songs")
tabla_lady

     Date Length           Title
0  2010.0   4:37    Need you now
1  2010.0   4:17    I Run To You
2  2007.0   3:43     Never Alone
3     NaN   3:44  American honey

Para crear una nueva base de datos en el servidor de MongoDB utilizamos el operador punto con el nombre de la base de datos que queremos crear:

In [100]:
client.drop_database('LadySongs')
nueva_db = client.LadySongs
nueva_db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'LadySongs')

Se ha creado una nueva base de datos llamada `LadySongs`. Procedemos de la misma manera para crea una colección en la base de datos.

In [101]:
col = nueva_db.Songs_LA

Para escribir cada una de las filas del dataframe `tabla_lady` en la colección `Songs_LA`, es necesario transformar el dataframe a un objeto de la clase `json`. Para ello usamos el método `to_json` de la clase `DataFrame` seguido de la función `loads` de la librería `json`.

In [102]:
d = tabla_lady.to_json(orient='records')
data_json = json.loads(d)
data_json

[{'Date': 2010.0, 'Length': '4:37', 'Title': 'Need you now'},
 {'Date': 2010.0, 'Length': '4:17', 'Title': 'I Run To You'},
 {'Date': 2007.0, 'Length': '3:43', 'Title': 'Never Alone'},
 {'Date': None, 'Length': '3:44', 'Title': 'American honey'}]

Para finalizar el proceso, el método `insert_many` permite insertar en una colección tantos documentos como diccionarios haya en el objeto de la clase `json`.

In [103]:
col.insert_many(data_json)

Ahora, si consultamos las bases de datos existente en el servidor, aparecerá la recién creada.

In [104]:
client.database_names()

['Canciones', 'LadySongs', 'admin', 'datos', 'local']

## Referencias

* [Big Data. Análisis de datos con Python. Sarasa Cabezuelo, Antonio; García Ruiz, Yolanda Aditorial Garceta. ISBN: 978-84-1622-883-6](http://www.garceta.es/libro.php?ISBN=978-84-1622-883-6)

* [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do)


------