# Ejercicios

##  Ejercicio 1

Conocemos los precios del petróleo en unas determinadas fechas. La lista `fechas` contiene las fechas y la lista `precio_usd` contiene el precio del barril de petróleo en dólares en cada una de las fechas:

In [3]:
fechas = ['1985-05', '1985-06', '1985-07', '1985-08', '1985-09', '1985-10',
       '1985-11', '1985-12', '1986-01', '1986-02', '1986-03', '1986-04',
       '1986-05', '1986-06', '1986-07', '1986-08', '1986-09', '1986-10',
       '1986-11', '1986-12', '1987-01', '1987-02', '1987-03', '1987-04',
       '1987-05']

precio_usd = [ 36.6383,  35.4184,  34.2709,  33.8411,  34.6826,  33.4498,
        34.1048,  29.5807,  25.2609,  16.8622,  13.3181,  12.5621,
        14.2754,  12.2961,  10.0871,  13.5117,  13.9921,  13.6932,
        14.4211,  15.3397,  16.5182,  15.2809,  15.6204,  15.5698,  15.9458]

* Crear un dataframe llamado `datos` con las siguientes características:

    * Solo tiene una columna `precio_usd` que representa el precio del barril.
    * El índice está formado por los datos de la lista `fechas`.
    * Los valores de la columna `precio_usd` son los valores de la lista `precio_usd`.

In [1]:
# Sol:

* Mostrar las 10 primeras filas del dataframe `datos`.

In [2]:
# Sol:

* Ejecutar la siguiente celda de código:

In [ ]:
# Representa gráficamente la evolución de los precios
import matplotlib as mpl
import matplotlib.pyplot as plt

%matplotlib inline

datos.plot(title = 'Evolucion Precios',
                          figsize=(9,4));                           # Tamaño de la figura

---
* Determinar el mes y el año donde por primera vez el precio del petróleo superó los 30 dólares

La solución es 1985-05.

In [16]:
#Sol:

25

* Añadir una nueva columna al dataframe `datos` llamada `precio_euros` que contenga el precio en euros del barril. utiliza el cambio: 1 USD = 0,85032 EUR.

In [4]:
# Sol:

* Ordena los datos en orden creciente de precio de barril en euros.

In [5]:
# Sol:

* Elimina definitivamente la columna `precio_usd` del dataframe

In [6]:
# Sol:

-----