# Ejercicios

### 1 Ejercicio

La hoja de cálculo [resumen_contable.xlsx](./datos/resumen_contable.xlsx) recoge los gastos e ingresos de distintas delegaciones de una empresa.
El siguiente código crea los dataFrames asociados a cada una de las delegaciones.

In [5]:
from pandas import ExcelFile
import pandas as pd
resumen = pd.ExcelFile('./datos/resumen_contable.xlsx')
Valencia = resumen.parse(0,  skiprows=1 , index_col = [0])     # datos de la primera hoja
Sevilla = resumen.parse(1,  skiprows=1 )   
Galicia = resumen.parse(2,  skiprows=1 )

Se pretende unificar todos los datos de forma que tengamos un resumen de gastos e ingresos anual de toda la empresa. Utiiza la función __add__.

In [6]:
# Sol:
# teniendo en cuenta que pandas realiza alineamiento de datos:

Valencia

      Gastos  Ingresos
Year
2000    4000      8000
2001    3000      5000
2005    2154      3000
2006    5201      1000
2007    2000      1000
2010    9000      2000

### 2 Ejercicio

El fichero [quakes.csv](./datos/quakes.csv) recoge los datos de observaciones de movimientos sísmicos de magnitud superior a 4 en la escala de Richter  en un sector de la ciudad de Fiji desde 1964. 

1. Mostrar todos los datos con un único decimal. Para ello aplica la función __applymap__ .

In [7]:
tabla_sismicos = pd.read_csv('./datos/quakes.csv', 
     names = ['Latitud', 'Longitud', 'Profundidad','Magnitud', 'Estaciones'] )
tabla_sismicos.head()

   Latitud Longitud  Profundidad  Magnitud  Estaciones
1   -20.42   181.62          562       4.8          41
2   -20.62   181.03          650       4.2          15
3   -26.00        -           42       5.4          43
4   -17.97   181.66          626       4.1          19
5   -20.42   181.96          649       4.0          11

In [8]:
# Sol:

### 3 Ejercicio

El fichero [quakes.csv](./datos/quakes.csv) recoge los datos de observaciones de movimientos sísmicos de magnitud superior a 4 en la escala de Richter  en un sector de la ciudad de Fiji desde 1964. 

1. Crea un DataFrame con los datos del fichero como has hecho en PR3. En la creación del DataFrame utiliza la opción __na_values__ para  indicar que los valores '-' en la columna __Longitud__ se carguen como NaN.
2. Sustituye todos los valores NaN por 0.

In [9]:
# Sol: