## Estructuras de datos en Python
### Secuencias: Tuplas y Listas

Python posee además de los tipos de datos básicos, otros tipos de datos más complejos. Se trata de las __tuplas__, las __listas__ y los __diccionarios__. 

Estos tres tipos, pueden almacenar colecciones de datos de diversos tipos y se
diferencian por su sintaxis y por la forma en la cual los datos pueden ser manipulados.

Tanto las tuplas como las listas son conjuntos ordenados de elementos.

> Una __tupla__ es una tipo que permite almacenar  _datos inmutables_ (no pueden
ser modificados una vez creados) de tipos diferentes. Las tuplas se encierran entre _paréntesis_. 
* Tienen longitud fija
* Solo tienen una dimensión

> Una __lista__ es similar a una tupla con la diferencia fundamental de que puede ser modificada una vez creada. Las listas se encierran sus elementos entre _corchetes_.

En la siguiente celda creamos una tupla de 4 elementos llamada `t`:

In [3]:
imp = [400, 200, 12.5]#lista#las listas son objetos en python

In [8]:
imp

[400, 200, 12.5]

In [9]:
type(imp)#que tipo es imp?

list

In [12]:
imp.append?

In [13]:
imp.append(8)

In [14]:
imp

[400, 200, 12.5, 8]

In [15]:
imp.insert(0)#coge dos elementos

TypeError: insert() takes exactly 2 arguments (1 given)

In [16]:
imp.insert?#tienes que insertar el objeto antes del indice

In [17]:
imp.insert(0,5)#en la posicion 0 ponme un 5# el primer elemento en la posicion 0

In [18]:
imp

[5, 400, 200, 12.5, 8]

In [19]:
len(imp)#te da la longitud de la lista

5

In [20]:
6 in imp #pregunto si el 6 esta en mi lista

False

In [21]:
5 in imp

True

In [22]:
imp

[5, 400, 200, 12.5, 8]

In [23]:
imp[0]#corchete es la forma de acceso y pregunto p'or la posicion 0

5

In [24]:
imp[1]

400

In [25]:
imp[0:4]#pids el principio y el final del rango que quiero, pero no incluye la posicion 4 es hasta la 3

[5, 400, 200, 12.5]

In [26]:
imp[0:3]

[5, 400, 200]

In [27]:
imp[:3]#desde el 0 hasta el 3

[5, 400, 200]

In [ ]:
#imp[inicio:fin:salto]

In [28]:
imp[4:]#si no pongo nada me da hasta el final

[8]

In [29]:
imp

[5, 400, 200, 12.5, 8]

In [ ]:
imp[2:]#de la lista de arriba de la posicion 2 hasta el final, desde el 200 hasta el final

In [30]:
imp[::2]#desde el principio hasta el final con salto 2 si no indicamos coge desde le primero y va saltando hasta el final

[5, 200, 8]

In [31]:
imp[::3]

[5, 12.5]

In [32]:
imp[-1]#recorro la lista en orden inversion

8

In [34]:
imp[-2:]

[12.5, 8]

In [35]:
imp[-3:]#el primer elemento de izq a derecha es el 0 y de forma inversa es el -1

[200, 12.5, 8]

In [37]:
l =['Hola', 9, (1, 2), 7.4]#tiene 4 elementos y pregunto

In [38]:
len(l)

4

In [39]:
l[2]

(1, 2)

In [40]:
type(l[2])

tuple

In [41]:
l[2][1]#de la tupla quiero la posicion 1

2

In [42]:
t=l[2]

In [43]:
t#no puedo añadir nada òrque es una tupla

(1, 2)

In [44]:
imp

[5, 400, 200, 12.5, 8]

In [46]:
costes= [3, 5, 8.9] 
costes

[3, 5, 8.9]

In [47]:
imp + costes

[5, 400, 200, 12.5, 8, 3, 5, 8.9]

In [48]:
imp.count?#dado un valor puedo saber cuantas veces se repite ese valor

In [50]:
imp.count(5)3se repite una vez

1

In [51]:
t.count(5)

0

In [52]:
t.pop?#le doy el indice y me elimina el elemento que esta en esa posicion

Object `t.pop` not found.

In [53]:
imp.pop(0)#me devuelve el v alor borrado

5

In [54]:
imp#ha borrado el 5

[400, 200, 12.5, 8]

In [55]:
imp.remove(8)#te borra el valor
imp

[400, 200, 12.5]

In [56]:
imp.sort()#ha ordenador de menor a mayor

In [57]:
imp

[12.5, 200, 400]

In [58]:
imp.sort?

In [59]:
imp.sort(reverse = True)#se revierte el orden

In [60]:
imp

[400, 200, 12.5]

In [61]:
range(10)#crearlo a lo bestia pero solo para numeros enteros#tiene 10 elementos

range(0, 10)

In [62]:
list(range(10))#convierte este rango en una lista#me crea 10 elementos desde el 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [63]:
list(range(1,10))#siempre me quedo en 1 menos

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [65]:
list(range(10,101,10))#quiero que empiece en el 10 que acabe en 100 y q vaya de 10 en 10#si pones 103 tmbn sale

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [66]:
texto ="El rey león"

In [67]:
type(texto)

str

In [68]:
texto[3]#es 0 1 2 3 el espacio lo cuenta

'r'

In [69]:
texto.upper()#transformarlo todo a mayusculas#no le cambia el valor porque no la he guardado en ningun sitio

'EL REY LEÓN'

In [70]:
new = texto.upper()

In [72]:
new, texto

('EL REY LEÓN', 'El rey león')

In [73]:
texto=texto.upper()#no lo estoy modificando, libreta

In [74]:
texto

'EL REY LEÓN'

In [75]:
'Y' in texto

True

In [76]:
'REY' in texto#como hago que rey me de que si?'rey' in texto

True

In [95]:
clientes = 'Ana García , Pedro GARcía'#una comilla al principio y otra al final solo

In [96]:
'GARCÍA' in clientes

False

In [97]:
'GARCÍA' in clientes.upper()

True

In [98]:
clientes.split()#parte el exto en trozos separando

['Ana', 'García', ',', 'Pedro', 'GARcía']

In [99]:
clientes.split(',')#que los parta con una coma en medio#devuelve una lista#si quiero encontrar a pedro como pedr tiene un espacio en blanco no me lo va a dar

['Ana García ', ' Pedro GARcía']

In [1]:
t = (4, "Hola", 6.0, 99)
print ("Tupla: " , t)

Tupla:  (4, 'Hola', 6.0, 99)

In [2]:
# Solo tenemos creada una variable, la variable t
%who

t

¿De que tipo es `t`?

In [3]:
type(t)       # t es de tipo tuple

tuple

En la siguiente celda creamos una lista de 5 elementos llamada `m`:

In [4]:
m = [ "Hola", "Mundo", 6.0, 99 , "Fin"]
m

['Hola', 'Mundo', 6.0, 99, 'Fin']

In [5]:
# Ahora tenemos creadas dos variables, la variable t y la variable m
%who

m	 t

In [6]:
type(m)     # pregunto al intérprete por su tipo

list

Tanto si se trata de listas como de tuplas podemos:

* Comprobar si un elemento está en la secuencia con el operador __in__:

In [7]:
'Fin' in m     # ¿Está el 4 en la lista m? La respuesta es un valor de tipo bool

True

* Podemos saber cuántos elementos tienen con la función __len__:

In [8]:
len(m)

5

### Acceso a los elementos de las secuencias

* Los elementos de las secuencias pueden ser accedidos mediante el uso de corchetes `[ ]`, como en otros lenguajes de programación. 
* Podemos *indexar* las secuencias utilizando la sintaxis:

```
[<inicio>:<final>:<salto>]
```

* En Python, la indexación empieza por CERO

In [9]:
print ( m )
print ( m[0] )  # Primer elemento de la lista está en la posición 0

['Hola', 'Mundo', 6.0, 99, 'Fin']
Hola

In [12]:
print ( m[1] )  # Segundo elemento

Mundo

In [13]:
print ( m )
print ( m[0:4] )  # Desde el primer elemento hasta el cuarto, [0,4)
                  # [0,4) son los índices 0, 1, 2, y 3

['Hola', 'Mundo', 6.0, 99, 'Fin']
['Hola', 'Mundo', 6.0, 99]

In [14]:
print ( m )
print ( m[:3] )  # Desde el primero hasta el tercero,  [0,3) = 0, 1 y  2

['Hola', 'Mundo', 6.0, 99, 'Fin']
['Hola', 'Mundo', 6.0]

In [15]:
print( m )
print( m[:] )  # Desde el primero hasta el último
print( m[::2] )  # Desde el primero hasta el último, saltando 2

['Hola', 'Mundo', 6.0, 99, 'Fin']
['Hola', 'Mundo', 6.0, 99, 'Fin']
['Hola', 6.0, 'Fin']

Otra forma de acceder a una secuencia es de forma inversa (de atrás hacia adelante), colocando un índice negativo.

In [16]:
print ( m )
print ( m[-1] )  # El último elemento
print ( m[-2] )  # El penúltimo elemento

['Hola', 'Mundo', 6.0, 99, 'Fin']
Fin
99

In [17]:
m[-2:]     # selección de los dos últimos elementos de la lista m

[99, 'Fin']

Los elementos de las secuencias, tanto listas como tuplas, son hetereogéneos, así que es posible definir __listas que contienen otras listas__:

In [18]:
enero =[ 
         [1, 2, 3], 
         [4, 5, 6],
         [7, 8, 9]
]
enero

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
enero[1] = [0,0,0]
enero

[[1, 2, 3], [0, 0, 0], [7, 8, 9]]

También es posible añadir nuevos valores a las listas mediante la función `append`.

In [20]:
enero.append(7)
enero

[[1, 2, 3], [0, 0, 0], [7, 8, 9], 7]

Podemos __concatenar__ secuencias con el operador `+`:

In [21]:
n = [1,2] + [3, 4]
n

[1, 2, 3, 4]

El operador multiplicación tiene un efecto un tanto particular:

In [22]:
res = n * 4

In [23]:
res

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

Las operaciones __+__ y __*__ sobre secuencias permiten crear nuevas secuencias sin modificar las originales.

#### Desempaquetar tuplas

En muchos casos es interesante asignar nombre a cada uno de los elementos de las secuencias para, posteriormente, trabajar con esos elementos.

In [24]:
laborales = (1, 2, 3, 4, 5)    # creo una tupla llamada `laborales`de 5 elementos

In [25]:
lunes, martes, miercoles, jueves, viernes = laborales

A esto se le llama __desempaquetado de secuencias__, y funciona para cualquier secuencia en el lado derecho del igual. El desempaquetado de secuencias requiere que la cantidad de variables a la izquierda del signo igual coincida con el tamaño de la secuencia. 

Una vez hecho el desempaquetado, podemos acceder a los elementos de la secuencia con un nombre en lugar de por su posición dentro de la secuencia.

In [26]:
martes

2

In [27]:
viernes

5

#### El caso particular de las listas

Como hemos dicho anteriormente, las listas pueden tener longitud variable y son mutables. También hemos visto que pueden definirse mediante `[ ]`.

Otra forma de definir las listas es mediante la función __list__.

In [28]:
t = 3, 4, 5                  # definimos una tupla  de tres elementos
m = list(t)                  # la función 'list' transforma una tupla en una lista
m

[3, 4, 5]

Podemos modificar el primer elemento de la lista. Asignamos el valor Nulo en Python en la posición 0.

In [29]:
m[0] = None     # valor nulo en Python
m

[None, 4, 5]

#### Añadiendo y eliminando elementos de una lista

La forma más eficiente de añadir elementos a una lista es mediante la función  __append__, que añade elementos al final de la lista.

Otra forma de añadir elementos es mediante la función __insert__, que  inserta un elemento en una determinada posición.

In [30]:
m = ['Lunes', 'Jueves']
m.append('Viernes')
m

['Lunes', 'Jueves', 'Viernes']

In [31]:
m.insert(1, 'Martes')    # inserta el elemento 'martes' en la posición 1
m                        # desplaza las posiciones a la derecha del 1

['Lunes', 'Martes', 'Jueves', 'Viernes']

Si queremos añadir múltiples elementos a una lista, podemos utilizar el operador + o el método __extends__. Si la lista que estamos construyendo es muy larga es preferible utilizar __extends__ ya que es mucho mas eficiente. La razón es que el operador + debe crear una nueva lista y copiar todos los elementos en la nueva lista.

Veamos un ejemplo de su uso:

In [32]:
m.extend([1,2,3,4,5,6,7,8,9,10])
m

['Lunes', 'Martes', 'Jueves', 'Viernes', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Para eliminar elementos de una lista, podemos utilizar las funciones __pop__ y __remove__.

__Eliminando por posición__

La operación __pop__ permite eliminar el elemento de la lista que ocupa una determinada posición.

In [33]:
e = m.pop(1)
e

'Martes'

In [34]:
m        # la lista tiene un elemento menos

['Lunes', 'Jueves', 'Viernes', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

__Eliminación por valor__

Puede darse el caso de que necesitemos eliminar un elemento de la lista y que no conozcamos la posición que ocupa. En esos casos utilizaremos el método __remove__.

In [35]:
m.remove('Jueves')
m

['Lunes', 'Viernes', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#### Ordenando una lista

El método __sort__ permite ordenar una lista sin necesidad de crear una lista nueva, por lo que la operación es muy eficiente.

In [36]:
lista = [5,7,2,0,4,7,1,5,4,3,4,1,9,0]
lista.sort()
lista

[0, 0, 1, 1, 2, 3, 4, 4, 4, 5, 5, 7, 7, 9]

#### Generando listas

Python 2.7 proporciona la función predefinida __range(inicio, fin, paso)__ para generar listas automáticamente. En Python 3.6 no se genera una lista; se genera un objeto  iterable.
Decimos que un objeto es __iterable__ si se puede recorrer para recuperar cada uno de los elementos que contiene. En este sentido, las listas son iterables y las tuplas también.


* __range__ no construye una lista por lo que se ahorra espacio.
* devuelve cada uno de los elementos cuando se recorre.

Veamos algunos ejemplos:

In [37]:
# Python 3.6
range(10)         # crea un objeto iterable de 10 números enteros: [0, 10)

range(0, 10)

In [38]:
# Python 3.6
r = range(10)     # usamos la función 'list' que me devuelve una lista
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
#  crea un objeto iterable de números enteros entre el -5 y 5: [-5, 5)
r = range(-5, 5)   
list(r)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

También es posible crear una lista a partir de otra:
* Recordar que la función __sorted__ recibe una lista 'm' y devuelve una nueva lista ordenada a partir de 'm'.
* Otra función es la función __reversed__ que devuelve un iterador en orden inverso de la lista original.

In [40]:
i = reversed(r)
i

In [41]:
list(i)

[4, 3, 2, 1, 0, -1, -2, -3, -4, -5]

#### Un caso particular de secuencias: Las secuencias de caracteres- str

Las cadenas son consideradas como una secuencia de caracteres y por tanto pueden ser tratadas como otras secuencias (tuplas o listas). 

Por ejemplo, podemos acceder a cada uno de los caracteres de una cadena:

In [42]:
a = "Ana"
a, a[0], a[2]

('Ana', 'A', 'a')

Las cadenas en Python son inmutables. Eso quiere decir que no es posible modificar una cadena sin crear otra nueva.

In [43]:
# En Python 3.5 strings son Unicode por defecto
mensaje = "Vaya calor que hace"
mensaje[0]

'V'

In [44]:
b = mensaje.replace('V', 'v')
b, mensaje

('vaya calor que hace', 'Vaya calor que hace')

Para ver todas las funciones que podemos utilizar con cadenas basta con ejecutar la siguiente celda:

In [45]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Algunos ejemplos:

In [46]:
mensaje.upper()

'VAYA CALOR QUE HACE'

In [47]:
mensaje.title()

'Vaya Calor Que Hace'

-------